#original-url-iframe {
    width: 100%;
    height: 100%;
}

.box {
    position: fixed;
    bottom: 30px;
    left: 30px;

    width: 150px;
    height: 60px;

    padding: 15px;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -moz-box-shadow: 0 0 10px #CCCECC;
    -webkit-box-shadow: 0 0 10px #CCCECC;
    box-shadow: 0 0 10px #CCCECC;

    background-color: #337AB7;
    color: #fff;

    z-index: 10;
}
